[Desktop Entry]
Type=Application
Name=balenaEtcher-1.7.9-x64.App
Comment=balenaEtcher-1.7.9-x64
Categories=Graphics;Science;Engineering;
Icon=Etcher-icon.png
Exec=balenaEtcher-1.7.9-x64.AppImage
Terminal=false
Name[da_DK]=balenaEtcher-1.7.9-x64
StartupNotify=true
GenericName[da_DK]=balenaEtcher
