[Desktop Entry]
Type=Application
Name=FreeCAD_0.20.1.App
Comment=FreeCAD_0.20.1
Categories=Graphics;Science;Engineering;
Icon=FreeCAD.png
Exec=FreeCAD_0.20-1-2022-08-20-conda-Linux-x86_64-py310.AppImage
Terminal=false
Name[da_DK]=FreeCAD_0.20.1
MimeType=application/x-extension-fcstd;
StartupNotify=true
GenericName[da_DK]=CAD-program
